/* ----- VARIABLES ----- */

$azul: #2727E5;
$rojo: #FC4141;
$amarillo: #FEDB31;
$negro: #161616;
$blanco: #FFF;
$gris-claro: #C2C2C2;
$gris: #A9A9A9;

$circular: "CircularStd", sans-serif;
$inter: 'Inter', sans-serif;

$alto-header: 130px;
$alto-header-sticky: 90px;
$alto-header-movil: 80px;

$small-screen: 576px !default;
$medium-screen: 768px !default;
$large-screen: 992px !default;
$extralarge-screen: 1200px !default;

$small-screen-up: 577px !default;
$medium-screen-up: 767px !default;
$large-screen-up: 993px !default;
$extralarge-screen-up: 1201px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;

$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$large-and-down: "only screen and (max-width : #{$large-screen})" !default;
$extralarge-and-down: "only screen and (max-width : #{$extralarge-screen})" !default;

$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;
$extra-large-only: "only screen and (min-width : #{$large-screen-up}) and (max-width : #{$extralarge-screen})" !default;


/* ----- ESTILOS GENERALES ----- */

body {
    width: 100%;
    margin: 0;
    font-family: $inter;
    z-index: -2;
    font-size: 16px;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.disable-scroll {
        overflow: hidden;
    }

    @media #{$small-and-down} { 
        font-size: 14px;
    }

}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.logo {
    font-size: 28px;
    font-family: $circular;
    font-weight: 600;
    color: $blanco;
    transition: font-size 0.1s;

    @media #{$large-and-down} { 
        font-size: 20px;
    }

    @media #{$small-and-down} { 
        font-size: 18px;
    } 

    &:hover {
        color: $blanco;
    }
}

h2 {
    font-family: $circular;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.3;

    @media #{$medium-and-down} { 
        font-size: 26px;
    } 

    @media #{$small-and-down} { 
        font-size: 22px;
    } 
}

h3 {
    text-transform: uppercase;
    font-family: inter;
    font-size: 15px;
    color: $gris;
    letter-spacing: 2px;
}

h4 {
    font-family: $circular;
    font-size: 20px;
    line-height: 1.5;
    color: $azul;

    @media #{$medium-and-down} { 
        font-size: 18px;
    }
    

}

.btn {
    font-family: $circular;
    font-size: 18px;
    padding: 5px 20px;
    border-radius: 30px;
    

    &.white {
        border: 2px solid $azul;
        color: $azul;
    }

    &.blue {
        background-color: $azul;
        color: $blanco;
    }

    @media #{$small-and-down} { 
        font-size: 16px;
        padding: 4px 16px;
    } 
}

.top {
    margin-top: 10vh;
}


.half-top {
    margin-top: 5vh;
}

.btm {
    margin-bottom: 10vh;
}


@media #{$large-and-down} { 
    .order-1-lg {
        order: 1;
    }

    .order-2-lg {
        order: 2;
    }
}

.dos-col {
    @media #{$extra-large-and-up} {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 3em;
        -moz-column-gap: 3em;
        column-gap: 3em;
    }
}

.hide {
    display: none;
}

.show {
    display: flex;
}

.italic {
    font-style: italic;
    color: $gris;
    margin-top: 1em;
}



/* ---------------------------------------------------------------------
    ESTILOS HEADER 
---------------------------------------------------------------------*/

.header {
    background-color: $azul;
    height: $alto-header;
    transition: height 1s;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top:0;

    @media #{$large-and-down} { 
        height: $alto-header-movil;
    }

    @media #{$extra-large-and-up} {
        &.small-header {
            height: $alto-header-sticky;
            .logo {
                transition: font-size 1s;
                font-size: 22px;
            }
        }
    }

    .container, .row {
        height: 100%;
    }

    .col {
        margin-bottom: 0;
    }
    
    .menu a {
        color: $blanco;
        font-family: $inter;
        font-weight: light;
        text-transform: uppercase;
        float: right;
        padding: 0 10px;

        &:hover {
            color: $amarillo;
        }
    }

    .burguer {
        width: 40px;
        height: auto;
        padding: 0;
        margin: 20px;

        @media #{$small-and-down} { 
            width: 30px;
        }
    }
}

section.dropdown {
    background-color: $azul;
    position: fixed;
    top: -400px;
    width: 100%;
    transition: top 1s;
    z-index: 999;

    &.down {
        top: 80px;
    }

    a {
        border-top: solid $blanco 1px;
        display: block;
        color: $blanco;
        font-family: $inter;
        font-weight: light;
        text-transform: uppercase;
        padding: 20px 0;
        text-align: center;

        &:hover {
            color: $amarillo;
        }
    }
}

/* ---------------------------------------------------------------------
 ESTILOS FOOTER 
---------------------------------------------------------------------*/
footer {
    background-color: $azul;
    padding-top: 35px;
    margin-top: 10vh;
    color: $blanco;
    position: relative;

    .logo {
        margin-bottom: 30px;
    }

    @media #{$medium-and-up} { 
        padding-top: 45px;
    }

    .left-footer {
        

        @media #{$extra-large-and-up} { 
            p {
                max-width: 60%;
            }
        }
    }

   a {
        color: $blanco;
        font-family: $inter;
        font-weight: light;
        text-transform: none;
        line-height: 1.3;

        &:hover {
            color: $amarillo;
        }
    } 

    .right-footer {
        a {
            display: block;
            padding: 0 0 5px 0;
        }
    } 

    .bottom-footer {
        background-color: $negro;
        padding: 20px 0;
        margin-top: 15px;

        p {
            margin-bottom: 0;
            color: $gris-claro;
        }

        a {
            color: $gris-claro;
            text-decoration: underline;

            &:hover {
                color: $blanco;
            }
        }

        .icons {
            display: flex;
            align-items: center;

            @media #{$small-and-down} { 
                padding-left: 0;
            }

            a img {    
                width: 24px;
                height: 24px;
            }

            a {
                text-decoration: none;
                padding-right: 15px;

            }
        }
    }

    .arrow {
        position: absolute;
        width: 36px;
        right: 5%;
    }
}


/* ---------------------------------------------------------------------
        ESTILOS HOME 
---------------------------------------------------------------------*/

.home-section {
    .col {
        margin-bottom: 5vh;
    }

    .text {
        .btn {
            margin-top: 25px;
    
            img {
                width: 33px;
                height: auto;
                margin-left: 10px;
            }
    
            &:hover {
                img {
                    margin-left: 12px;
                    margin-right: -2px;
                }
    
            }
        }
    
        @media #{$large-and-down} { 
            .btn {
                margin-top: 15px;
            }
        }
    }

    img {
        width: 100%;
        height: auto;
    }
    
    .chevron {
        width: 24px;
        height: auto;
        margin: 0 auto;
        animation: bounce 2s infinite;

        @media #{$large-and-down} { 
            margin-top: 5vh;
        }
    }
}

.home-intro {
    @media #{$large-and-down} { 
        text-align: center;
        margin-left: auto;
        margin-left: right;

    }
}
.preview-fondos {

    .fondo {
        .azul {
            display: none;
        }

        .img:hover {
            .linea {
                display: none;
            }
            .azul {
                display: block;
            }
        }


    }

    @media #{$extra-large-and-up} { 

        :nth-child(odd) {
            .text {
                margin-left: 8%;
            }
        }

        :nth-child(even) {
            .text {
                margin-right: 8%;
            }

            .img {
                order: 2;
            }

            .text {
                order: 1;
            }  
        }
    }
}

.hero {
    background-image: url('/img/manos.jpg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    p {
        padding: 150px 0;
        max-width: 520px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 30px;
    }

    @media #{$medium-and-down} { 
        background-size: 150vw;

        p {
            font-size: 24px;
            padding: 80px 0;
        }
    }
}

.universidades {
    .col {
        margin-bottom: 50px;
    }

    @media #{$large-and-down} {
        h2 {
            text-align: center;
        }
    }

    .desarrollo {

        h2 {
        font-size: 24px;

        }

        img {
            height: 70px;
        }
    }

    .apoyo  {
        h2 {
        font-size: 20px;
        }

        img {
        height: 60px;
        }
    }
}

/* --------------------------------------------------------------------- 
        PÁGINA FONDO 
 ---------------------------------------------------------------------*/
.section-fondo {
    p {
        margin-top: 2em;
        line-height: 2;
    }

    img {
    max-width: 100%;
    height: auto;

    }

    .btn {
        margin-top: 25px;

        @media #{$large-and-down} { 
            margin-top: 15px;
        }
    }
}

.img-fondo img {
    width: 100%;
    height: 700px;
    object-fit: cover;

    @media #{$large-and-down} { 
        height: 500px;
        max-height: 50vh;
    }
}

.caracterizacion-fondo {
    img {
        display: block;
        margin-top: 2em;
        margin-bottom: 2em;
    }
}

.contexto-fondo {
    @media #{$large-and-down} { 
        .texto {
            order: 2;
        }

        .img {
            order:1;
            margin-top: 2em;
            text-align: center;
        }
    }
}

.piezas-fondo {
    .italic {
    font-style: italic;
    color: $gris;
    margin-top: 1em;
    }
    .container-img {
        position: relative;
        width: 100%;
        height: 250px;
        margin-top: 2em;
        overflow: visible;

        @media #{$medium-and-down} { 
            height: 350px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
        }

        .btn {
            position: absolute;
            margin-top: 0;
            background-color: white;

            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity:0
        }


        .blue {
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: $azul;
            mix-blend-mode: color;
            opacity: 0;
        }

        &:hover {
            .btn {
                opacity:1;
            }

            img {
                -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                filter: grayscale(100%);
            }

            .blue {
                opacity: 50%;
            }
        }
    }
}

.lista-docs {
    margin-top: 2em;
    list-style-type: none;
    padding: 0;

    li:before {
        content: "·";
    }

    li {
        padding: 0;
    }

    a {
        color: $azul;
        &:hover {
            text-decoration: underline;
        }
    }
}


/* --------------------------------------------------------------------- 
        ANIMACIONES 
---------------------------------------------------------------------*/
@keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
          transform: translateY(0);
        }
        40% {
          transform: translateY(-20px);
        }
        60% {
          transform: translateY(-10px);
        }  
}

/* --------------------------------------------------------------------- 
        PÁGINA SOBRE EL ARCHIVO 
 ---------------------------------------------------------------------*/
 .img-sobre {
    display: flex;
    align-items: center;
    justify-content: center;
 
        img {
        width: 100%;
        max-width: 800px;
        object-fit: contain;
    }
}

.pag-sobre {

    p {
        margin-top: 2em;
        line-height: 2;
    }

    .btn {
        margin-top: 25px;

        @media #{$large-and-down} { 
            margin-top: 15px;
        }
    }
}

.carrusel {
    .carrusel-item {
        @media #{$large-and-up} { 
            padding-left: 30px;
        }
    }
    .intro {
        text-align: center;
        font-family: $circular;
        font-size: 24px;
        line-height: 1.5;

        @media #{$medium-and-down} { 
            font-size: 16px;
        }
    }

    .fecha {
        p {
            margin-top: 0;
        }
    }

    img {
        max-height: 300px;

        @media #{$large-and-down} { 
            margin-bottom: 4em;
        }

        @media #{$medium-and-down} { 
            max-height: 200px;
            margin-bottom: 2em;
        }
    }

    .flex {
        display: flex;
        align-items: center;
    }
}

.largo {
    padding-right: 20px;
    padding-left: 20px;
}

/* --------------------------------------------------------------------- 
        PÁGINA PIEZA 
 ---------------------------------------------------------------------*/

 .pag-pieza {
     .intro-pieza {
         h2 {
             margin-bottom: 0;
         }
        .italic {
            font-style: italic;
            color: $gris;
            margin-top: 0;
        }

        .datos-basicos {
            padding-inline-start: 0;
            list-style-type: none;
            line-height: 1.7;
            margin-top: 2em;
            
            b {
                font-weight: 600;
            }
        }

        .descriptores {
            padding-inline-start: 0;
            list-style-type: none;

            li {
                font-family: $circular;
                display: inline-flex;
                color: $azul;
                background: white;
                border: 2px solid $azul;

                padding: 2px 25px;
                margin-right: 10px;
                border-radius: 20px;
                margin-top: 1em;

                text-transform: capitalize;
                cursor: pointer;

                @media #{$large-and-down} { 
                    padding: 0 10px;
                    margin-right: 5px;
                }

                &:hover {
                    color: white;
                    background: $azul;
                }
            }
        }
     }

    .detalle-piezas {
        .detalle {
            margin-bottom: 15px;
            cursor: pointer;
            @media #{$large-and-down} { 
                padding-left: 10px;
                padding-right: 10px;
            }
            
            img {
                max-height: 170px;
                width: 100%;
                object-position: center;
                object-fit: cover;
            }

            .blue {
                width: calc(100% - 30px);
                height: 100%;
                position: absolute;
                background-color: $azul;
                mix-blend-mode: color;
                opacity: 0;
            }

            &:hover {
                .blue {
                    opacity: 50%;
                }
            }
        }
    }

    .hecho {
        padding-inline-start: 0;
        list-style-type: none;
        line-height: 1.7;
        margin-top: 2em;
        
        b {
            font-weight: 600;
        }
    }
 }

 .sticky-top {
     top: $alto-header-sticky + 20px;
     z-index: -1;
 }

/* --------------------------------------------------------------------- 
        PÁGINA BUSQUEDA
 ---------------------------------------------------------------------*/

 .botones-filtros {
    padding-inline-start: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    li {
        font-family: $circular;
        position: relative;
        color: $azul;
        background: white;
        border: 2px solid $azul;

        padding: 2px 40px 2px 25px;
        margin-right: 10px;
        border-radius: 20px;
        margin-top: 1em;

        text-transform: capitalize;
        cursor: pointer;

        @media #{$large-and-down} { 
            padding: 2px 30px 2px 15px;
            margin-right: 5px;
        }

        &:after {
            visibility: visible;
            position: absolute;
            top: 50%;
            right: 15px;
            height: 15px;
            width: 15px;
            background-image: url('/img/icons/chevron_down.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            content: " ";

            transform: translate(0, -40%);
        }
    }
}
/* --------- MODAL ------*/
.modal {
    display: none;

    .modal-background {
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .modal-close {
        position: fixed;
        top: 0;
        right: 0;
        font-size: 30px;
        color: $negro;
        padding: 40px;
        font-family: $circular;
        font-weight: 600;

        &:hover {
            color: $azul;
            cursor: pointer;
        }

        @media screen and (max-width: 650px) {
            font-size: 20px;
            padding: 20px;
        }
    }

    .modal-content {
        position: fixed;
        width: 100%;
        height: 100%;
        margin: 40px auto 40px auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        text-align: center;
        font-family: inter;
        line-height: 1.5;
        hyphens: auto;
        border: none;

        img {
            max-height: 70vh;
            max-width: 80vw;
            object-fit: contain;

            @media screen and (max-width: 650px) {
                max-height: 60vh;
            }
        }

        p {
            max-width: calc(100% - 20px);

            &.info{
                margin-top: 0;
            }
        }
    }
}

/* SLICK */

.slick-container {
    position: relative;
}

.slick-prev,
.slick-next {

    @media #{$medium-and-down} { 
        top: 20%;
    }
    
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;

    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;


    color: $azul;
    
    content: none;
    border: none;
    visibility: hidden;

    &:after {
    visibility: visible;
	position: absolute;
	top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-image: url('/img/icons/chevron_down.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
	content: " ";
    }
}

.slick-prev
{
    left: -30px;

    @media #{$medium-and-down} { 
        left: 10;
    }
    
    &:after {
        transform: rotate(90deg);
    }
}

.slick-next
{
    right: -30px;

    @media #{$medium-and-down} { 
        right: 10;
    }

    &:after {
        transform: rotate(270deg);
    }
}

/* Dots */

.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -45px;

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: center;
}

.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 10px;
    height: 10px;
    padding: 5px;
    border-radius: 100%;

    cursor: pointer;

    border: solid 1px $amarillo;
    background-color: $amarillo;
    outline: none;
}

.slick-dots li.slick-active button
{
    background-color: $azul;
    border-color: $azul;
}

.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}




/* ------------ FUENTES ------------- */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

@font-face {
    font-family: "CircularStd";
    src: url("../fonts/CircularStd-Book.eot");
    src: url("../fonts/CircularStd-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-Book.woff") format("woff"), url("../fonts/CircularStd-Book.ttf") format("truetype"), url("../fonts/CircularStd-Book.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "CircularStd";
    src: url("../fonts/CircularStd-Bold.eot");
    src: url("../fonts/CircularStd-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-Bold.woff") format("woff"), url("../fonts/CircularStd-Bold.ttf") format("truetype"), url("../fonts/CircularStd-Bold.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
    font-weight: 600;
    font-style: normal;
  }