<%- include('../partials/header') -%>
<link rel="stylesheet" href="/stylesheets/admin.css">
<div class="form-class" style="text-align: center; width: 400px; margin: auto; margin-top: 30vh; ">
    <h3>Entrar Como Administrador</h3>
    <form action="/admin-login" method="POST">
        <input style="display: none;" type="text" name="admin_name" class="text-input" value="admin">
        <label for="pass">Contraseña:</label>
        <input type="text" name="admin_pass" class="text-input" style="width: 40%;">
        <br>
        <button type="submit">Entrar</button>
    </form>
</div>