<%- include('../partials/header') -%>
<div class="" style="margin-top: 40vh;">
    <h3>Entrar Como Administrador</h3>
    <form action="/admin-login" method="POST">
        <label for="pass">Contraseña:</label>
        <input type="text" name="pass" class="text-input">
        <br>
        <button type="submit">Entrar</button>
    </form>
</div>