

<div class="container" style="width: 100vw; background-color: #2727E5;">

    <div class="row align-items-center justify-content-between">

        <nav class="col col-lg-6 col-md-7 d-none d-md-block mb-4 mt-4" style="width: 100vw; margin: auto; color: white; font-size: large; text-transform:uppercase;">

            <a href="/admin/creadores" style="color: white;">creadores</a>
            <a href="/admin/colecciones" style="color: white;"> | colecciones</a>
            <a href="/admin/lugares" style="color: white;"> | lugares</a>
            <a href="/admin/hechos" style="color: white;"> | hechos</a>
            <a href="/admin/piezas" style="color: white;"> | piezas</a>
            <a href="/admin-logout" style="color: white;"> | salir</a>

        </nav>
    </div>

</div>
