
        <footer>

            <img class="arrow" id ="subir" src="/img/icons/arrow_white.png" />

            <div class="container">

                <div class="row justify-content-between">
                    
                        <h1 class="col col-10 logo">

                            <a href="/" class="logo">

                                ARCHIVO DIGITAL DE <br> TEXTILES TESTIMONIALES 

                            </a>

                        </h1>

                    <div class="left-footer col col-7 col-lg-9">

                        <p>
                            Un espacio digital abierto para la documentación, conservación y consulta de textiles que narran la vida en medio del conflicto armado en Colombia.
                        </p>

                        <p> 
                            <a href="https://creativecommons.org/licenses/by-nc-sa/2.5/co/" arget="_blank" > 
                                CC BY-NC-SA 2020
                            </a>
                        </p>
                    </div>

                    <nav class="right-footer col col-5 col-lg-3">

                        <a  href="/acerca-de"> Sobre el archivo </a> 

                        <a  href="/mapa"> Mapa </a>

                        <a  href="/buscar"> Búsqueda </a> 

                    </nav>

                </div>

            </div>

            <div class="bottom-footer">

                <div class="container">

                    <div class="row justify-content-between">

                        <p class="col col-8 col-lg-9" >
                            Este archivo digital hace parte del proyecto 
                            <a href="http://artesanaltecnologica.org/remendar_lo_nuevo-2/" target="_blank">Remendar lo Nuevo</a>
                        </p>

                        <div class="icons col col-4 col-lg-3">

                            <a href="http://artesanaltecnologica.org/remendar_lo_nuevo-2/" target="_blank"> 

                                <img src="/img/icons/face.svg"/>

                            </a>
        
                            <a href="https://www.instagram.com/artesanaltecnologica/" target="_blank"> 

                                <img src="/img/icons/insta.svg"/>

                            </a>
        
                            <a href="http://artesanaltecnologica.org/remendar_lo_nuevo-2/" target="_blank"> 

                                <img src="/img/icons/web.svg"/>

                            </a>
        
                        </div>

                    </div>

                </div>

            </div>

        </footer>

    </body>

    <!-- scripts de la pagina -->
    <script src="/scripts/script.js"></script>

</html>