
        <footer>

            <img class="arrow" id ="subir" src="/img/icons/arrow_white.png" />

            <div class="container">

                <div class="row justify-content-between">
                    
                        <h1 class="col col-10 logo">

                            <a href="/" class="logo">

                                ARCHIVO DIGITAL DE <br> TEXTILES TESTIMONIALES 

                            </a>

                        </h1>

                    <div class="left-footer col col-7 col-lg-9">

                        <p>
                            Un espacio digital abierto para la documentación, conservación y consulta de textiles que narran la vida en medio del conflicto armado en Colombia.
                            <br> <br>
                            <i> 
                                Isabel González: Desarrollo conceptual | Sebastián Palomino: Desarrollo web | Laura Junco: Diseño de interfaz e ilustraciones
                            </i>
                        </p>

                        <p> 
                            <a href="https://creativecommons.org/licenses/by-nc-sa/2.5/co/" arget="_blank" > 
                                <svg class="cc" width="30" height="30" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.9634 0C25.5579 0 30.3211 1.95316 34.2493 5.85759C36.1293 7.73825 37.5587 9.88766 38.535 12.3039C39.5106 14.7209 40 17.2859 40 20.0003C40 22.7385 39.5169 25.3041 38.5537 27.6961C37.5893 30.0886 36.1662 32.2024 34.2862 34.0355C32.3343 35.9637 30.1198 37.4406 27.6429 38.4644C25.1673 39.4881 22.6072 40 19.9647 40C17.3221 40 14.7921 39.495 12.3752 38.4819C9.9589 37.4706 7.792 36.0062 5.87509 34.0899C3.95819 32.1736 2.50004 30.0123 1.50002 27.6073C0.500008 25.2023 0 22.6672 0 20.0003C0 17.3571 0.505633 14.8159 1.51752 12.3752C2.52941 9.93453 4.00006 7.75012 5.92822 5.82134C9.73765 1.94128 14.4159 0 19.9634 0ZM20.0359 3.60756C15.4646 3.60756 11.6189 5.20321 8.49951 8.39326C6.92761 9.98891 5.71946 11.7802 4.87445 13.7683C4.02819 15.7565 3.60631 17.834 3.60631 20.0009C3.60631 22.1441 4.02819 24.2098 4.87445 26.1967C5.72009 28.1861 6.92761 29.9598 8.49951 31.5192C10.0708 33.0793 11.8439 34.2687 13.8215 35.0912C15.7971 35.9124 17.869 36.3231 20.0359 36.3231C22.1785 36.3231 24.2548 35.9074 26.2692 35.0737C28.2811 34.2393 30.0948 33.038 31.7149 31.4667C34.8337 28.4192 36.3924 24.5979 36.3924 20.0016C36.3924 17.7872 35.9874 15.6921 35.1781 13.7158C34.3699 11.7396 33.1905 9.97828 31.6442 8.42951C28.4279 5.21508 24.5598 3.60756 20.0359 3.60756ZM19.7853 16.6796L17.1059 18.0728C16.8196 17.4784 16.469 17.0609 16.0528 16.8228C15.6359 16.5853 15.249 16.4659 14.8915 16.4659C13.1065 16.4659 12.2127 17.644 12.2127 20.0016C12.2127 21.0728 12.4389 21.9291 12.8908 22.5722C13.3433 23.2154 14.0102 23.5372 14.8915 23.5372C16.0584 23.5372 16.8796 22.9654 17.3565 21.8228L19.8203 23.0729C19.2966 24.0498 18.5703 24.8173 17.6415 25.3766C16.714 25.9367 15.6896 26.216 14.5702 26.216C12.7846 26.216 11.3433 25.6692 10.2483 24.5729C9.15327 23.4779 8.60576 21.9541 8.60576 20.0022C8.60576 18.0972 9.15952 16.5859 10.2664 15.4665C11.3733 14.3477 12.7721 13.7877 14.4634 13.7877C16.9403 13.7865 18.7134 14.7509 19.7853 16.6796ZM31.3211 16.6796L28.6779 18.0728C28.3923 17.4784 28.0404 17.0609 27.6242 16.8228C27.2067 16.5853 26.8073 16.4659 26.4279 16.4659C24.6423 16.4659 23.7485 17.644 23.7485 20.0016C23.7485 21.0728 23.9754 21.9291 24.4273 22.5722C24.8791 23.2154 25.5454 23.5372 26.4279 23.5372C27.5936 23.5372 28.4154 22.9654 28.8911 21.8228L31.3911 23.0729C30.8442 24.0498 30.1055 24.8173 29.178 25.3766C28.2492 25.9367 27.2373 26.216 26.1423 26.216C24.3323 26.216 22.8866 25.6692 21.8041 24.5729C20.7191 23.4779 20.1778 21.9541 20.1778 20.0022C20.1778 18.0972 20.7309 16.5859 21.8391 15.4665C22.9454 14.3477 24.3441 13.7877 26.0348 13.7877C28.5111 13.7865 30.2742 14.7509 31.3211 16.6796Z"/>
                                    </svg>
                                    
                                BY-NC-SA 2020
                            </a>
                        </p>
                    </div>

                    <nav class="right-footer col col-5 col-lg-3">

                        <a  href="/acerca-de"> Inicio </a> 

                        <a  href="/acerca-de"> Sobre el archivo </a> 

                        <a  href="/mapa"> Mapa </a>

                        <a  href="/buscar"> Buscar </a> 

                        <a  href="mailto:artesanaltecnologica@gmail.com"> Contacto </a> 

                    </nav>

                </div>

            </div>

            <div class="bottom-footer">

                <div class="container">

                    <div class="row justify-content-between">

                        <p class="col col-8 col-lg-9" >
                            Este archivo digital hace parte del proyecto 
                            <a href="http://artesanaltecnologica.org/remendar_lo_nuevo-2/" target="_blank">Remendar lo Nuevo</a>
                        </p>

                        <div class="icons col col-4 col-lg-3">

                            <a href="http://artesanaltecnologica.org/remendar_lo_nuevo-2/" target="_blank"> 

                                <img src="/img/icons/face.svg"/>

                            </a>
        
                            <a href="https://www.instagram.com/artesanaltecnologica/" target="_blank"> 

                                <img src="/img/icons/insta.svg"/>

                            </a>
        
                            <a href="http://artesanaltecnologica.org/remendar_lo_nuevo-2/" target="_blank"> 

                                <img src="/img/icons/web.svg"/>

                            </a>
        
                        </div>

                    </div>

                </div>

            </div>

        </footer>

    </body>

    <!-- scripts de la pagina -->
    <script src="/scripts/script.js"></script>

</html>