
        
    <footer>
        <div class="container">
            <div class="row justify-content-between">
                
                    <h1 class="col col-10 logo">
                        <a href="/" class="logo">
                            _ARCHIVO DIGITAL DE <br> TEXTILES TESTIMONIALES 
                        </a>
                    </h1>

                <div class="left-footer col col-7 col-lg-9">

                    <p>
                        Un espacio digital abierto para la documentaci贸n, conservaci贸n y consulta de textiles que narran la vida en medio del conflicto armado en Colombia.
                    </p>

                    <p> <a href="https://creativecommons.org/licenses/by-nc-sa/2.5/co/" arget="_blank" > CC BY-NC-SA </a></p>
                </div>

                <nav class="right-footer col col-5 col-lg-3">
                    <a  href="/"> Sobre el archivo </a> 
                    <a  href="/lugares"> Mapa </a>
                    <a  href="/search"> Busqueda </a> 
                </nav>
            </div>
        </div>
    </footer>
    
    <!-- <footer class="footer">
        <div class="main-footer">
            
             <div class="left-footer">
            <h3><a href="/">_ARCHIVO TEXTIL <br> DIGITAL</a></h3>
                <p>
                    Un espacio digital abierto
                    para la documentaci贸n,
                    conservaci贸n y consulta de
                    textiles que narran la vida en
                    medio del conflicto armado.
                </p>
            </div>
            <div class="right-footer">
                <hr>
                <ul>
                    
                    <li><a href="/fondos">fondos</a></li>
                    <li><a href="/colecciones">colecciones</a></li>
                    <li><a href="/lugares">lugares</a></li>
                </ul>
            </div>
        </div>
         <script src="/scripts/goUp.js"></script> 
        <div class="bottom-footer">
            <div>
                <p>Este archivo digital hace parte del proyecto Remendar lo Nuevo 2020</p>
            </div>
            <div class="icons">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
                <i class="fas fa-globe-americas"></i>
            </div>
        </div>
    </footer> -->
    
</body>

</html>