
        
    <!-- <footer class="footer">
        <div class="main-footer">
            
             <div class="left-footer">
            <h3><a href="/">_ARCHIVO TEXTIL <br> DIGITAL</a></h3>
                <p>
                    Un espacio digital abierto
                    para la documentación,
                    conservación y consulta de
                    textiles que narran la vida en
                    medio del conflicto armado.
                </p>
            </div>
            <div class="right-footer">
                <hr>
                <ul>
                    
                    <li><a href="/fondos">fondos</a></li>
                    <li><a href="/colecciones">colecciones</a></li>
                    <li><a href="/lugares">lugares</a></li>
                </ul>
            </div>
        </div>
         <script src="/scripts/goUp.js"></script> 
        <div class="bottom-footer">
            <div>
                <p>Este archivo digital hace parte del proyecto Remendar lo Nuevo 2020</p>
            </div>
            <div class="icons">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
                <i class="fas fa-globe-americas"></i>
            </div>
        </div>
    </footer> -->
    
</body>

</html>