<!DOCTYPE >
<lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Archivo digital de textiles testimoniales </title>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- estilos -->
    <link rel="stylesheet" href="/css/estilo.css">

</head>

<body>

    <% if (!admin.isLogged) { %>
    <section class= "header">

        <div class="container">
            <div class="row align-items-center justify-content-between">
                <h1 class="col col-lg-6 col-md-5 col-sm-10">
                    <a href="/" class="logo">
                        _ARCHIVO DIGITAL DE <br> TEXTILES TESTIMONIALES 
                    </a>
                </h1>

                <nav class="menu col col-lg-6 col-md-7 d-none d-md-block">
                    <a href="/search"> Busqueda </a> 
                    <a href="/lugares"> Mapa </a>
                    <a href="/"> Sobre el archivo </a> 
                </nav>

                <img class="d-md-none burguer" src="/img/burguer.png"/>
            </div>
        </div>

    </section>

    <section class="dropdown">
        <nav class="menu">
            <a  href="/search"> Busqueda </a> 
            <a  href="/lugares"> Mapa </a>
            <a  href="/"> Sobre el archivo </a> 
        </nav>
    </section>


    <% } else { %>
        
    <div class="container">
        <div class="main-nav">
            <h3><a href="/">_ARCHIVO TEXTIL <br> DIGITAL</a></h3>
            <ul class="main-menu">
                
            </ul>
            <ul class="right-menu">
                <li><a href="/admin/fondos">fondos</a></li>
                <li><a href="/admin/colecciones">colecciones</a></li>
                <li><a href="/admin/lugares">lugares</a></li>
                <li><a href="/admin/hechos">lugares</a></li>
                <li><a href="/admin/piezas">lugares</a></li>
                <li><a href="/admin-logut">salir</a></li>
            </ul>
        </div>
    </div>

    <% } %>
    <script>

            $('.burguer').click( function() {
                $('.dropdown').toggleClass("down");
                $("body").toggleClass("disable-scroll");
            });

    </script>
    

    