<!DOCTYPE>
<lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title> Archivo digital de textiles testimoniales </title>

        <!-- bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- jquery -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

        <!--slick carrousel -->
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
 
       <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>	
        
        <!-- estilos -->
        <link rel="stylesheet" href="/css/estilo.css">

    </head>

    <body>

        <% if (!currentUser) { %>
        <section class="header">

            <div class="container">

                <div class="row align-items-center justify-content-between">

                    <h1 class="col col-lg-6 col-md-5 col-sm-10">

                        <a href="/" class="logo">

                            _ARCHIVO DIGITAL DE <br> TEXTILES TESTIMONIALES

                        </a>

                    </h1>

                    <nav class="menu col col-lg-6 col-md-7 d-none d-md-block">

                        <a href="/buscar"> Búsqueda </a>

                        <a href="/lugares"> Mapa </a>

                        <a href="/acerca-de"> Sobre el archivo </a>

                    </nav>

                    <img class="d-md-none burguer" src="/img/icons/burguer.png" />

                </div>

            </div>

        </section>

        <section class="dropdown">

            <nav class="menu">

                <a href="/buscar"> Búsqueda </a>
                <a href="/lugares"> Mapa </a>
                <a href="/acerca-de"> Sobre el archivo </a>

            </nav>

        </section>


        <% } else { %>


        <section class="header">

            <div class="container">

                <div class="row align-items-center justify-content-between">

                    <h1 class="col col-lg-6 col-md-5 col-sm-10">

                        <a href="/" class="logo">

                            _ARCHIVO DIGITAL DE <br> TEXTILES TESTIMONIALES <br> ADMINISTRADOR <br> 

                        </a>

                    </h1>

                    <nav class="menu col col-lg-6 col-md-7 d-none d-md-block">

                        <a href="/admin/creadores">creadores</a>
                        <a href="/admin/colecciones">colecciones</a>
                        <a href="/admin/lugares">lugares</a>
                        <a href="/admin/hechos">hechos</a>
                        <a href="/admin/piezas">piezas</a>
                        <a href="/admin-logout">salir</a>

                    </nav>

                    <img class="d-md-none burguer" src="/img/icons/burguer.png" />

                </div>

            </div>

        </section>

        <section class="dropdown">

            <nav class="menu">

                <a href="/admin/creadores">creadores</a>
                <a href="/admin/colecciones">colecciones</a>
                <a href="/admin/lugares">lugares</a>
                <a href="/admin/hechos">hechos</a>
                <a href="/admin/piezas">piezas</a>
                <a href="/admin-logout">salir</a>

            </nav>

        </section>

        <!-- <div class="container">
            <div class="main-nav">
                <h3><a href="/">_ARCHIVO TEXTIL <br> DIGITAL</a></h3>
                <ul class="main-menu">

                </ul>
                <ul class="right-menu">
                    <li><a href="/admin/fondos">fondos</a></li>
                    <li><a href="/admin/colecciones">colecciones</a></li>
                    <li><a href="/admin/lugares">lugares</a></li>
                    <li><a href="/admin/hechos">lugares</a></li>
                    <li><a href="/admin/piezas">lugares</a></li>
                    <li><a href="/admin-logut">salir</a></li>
                </ul>
            </div>
        </div> -->

        <% } %>
