<%- include('../partials/header') -%>

<div class="form-container">
  <% fondo = data.data[0]%>
  <% for (field in fondo) {%>
  <strong><%= field %>: </strong> <%= fondo[field] %>
  <br />
  <% } %>
  <hr />
</div>

<%- include('../partials/footer') -%>
