<%- include('../partials/header') -%> 
<% for (fondo in data.data) { %>

<div class="form-container">
  <% for (field in data.data[fondo]) {%>
  <strong><%= field %>: </strong> <%= data.data[fondo][field] %>
  <br />
  <% } %>
  <hr />
</div>

<% } %> <%- include('../partials/footer') -%>
