<%- include('./partials/header') -%> 

<div class="container pag-sobre">
    <section class="image-sobre">

        <img src="/img/sobre.svg">

    </section>

    <section class="texto-sobre">

        <h2>
            Sobre el archivo
        </h2>  

        <p class="dos-col">
            El archivo digital de textiles testimoniales en Colombia es un espacio para la documentación, conservación, consulta y puesta en valor de prácticas textiles testimoniales realizadas por grupos de mujeres que en distintos lugares del país se entrelazan en una red que, por más de 20 años, ha remendado y bordado la vida, resistido y creado documentos textiles que dan cuenta de sus trayectorias y luchas en medio del conflicto armado.

            Concebido como un archivo de derechos humanos y memoria histórica, especializado en textiles artesanales, ofrece un modelo de documentación que integra las dimensiones políticas y materiales, en el que cada textil es considerado como un documento no textual, un artefacto de memoria y un repertorio de acción y conocimiento en el que el quehacer textil es gramática y narrativa para hacer memoria, elaborar los duelos, denunciar y exigir justicia.
        </p>

    </section>

    <section class="texto-que">

        <h2>
            ¿Qué son los textiles testimoniales?
        </h2>  

        <p class="dos-col">
            Los textiles testimoniales son materialidades y artefactos de memoria que, a partir del bordado, la costura y el tejido, como soportes y medios narrativos, documentan o denuncian acontecimientos y experiencias, en un proceso de resignificación y acto testimonial. Esto hace que tengan una dimensión política y social para los colectivos que les han realizado, y que ayuden a configurar sentidos compartidos sobre los hechos que están narrando en estos formatos.
        </p>

    </section>

    <section class="carrusel">
        <p>
            El desarrollo del archivo ha sido el resultado de distintos procesos de investigación y alianzas institucionales, esta línea de tiempo muestra algunos de esos vínculos.
        </p>  
    </section>

</div>
<h3>sobre el archivo</h3>



<%- include('./partials/footer') -%> 