<%- include('./partials/header') -%> 


    <div class="container pag-sobre">
    <section class="img-sobre top">

        <img src="/img/sobre.svg">

    </section>

    <section class="texto-sobre top">

        <h2>
            Sobre el archivo
        </h2>  

        <p class="dos-col">
            El archivo digital de textiles testimoniales en Colombia es un espacio para la documentación, conservación, consulta y puesta en valor de prácticas textiles testimoniales realizadas por grupos de mujeres que en distintos lugares del país se entrelazan en una red que, por más de 20 años, ha remendado y bordado la vida, resistido y creado documentos textiles que dan cuenta de sus trayectorias y luchas en medio del conflicto armado.

            Concebido como un archivo de derechos humanos y memoria histórica, especializado en textiles artesanales, ofrece un modelo de documentación que integra las dimensiones políticas y materiales, en el que cada textil es considerado como un documento no textual, un artefacto de memoria y un repertorio de acción y conocimiento en el que el quehacer textil es gramática y narrativa para hacer memoria, elaborar los duelos, denunciar y exigir justicia.
        </p>

    </section>

    <section class="texto-que top">

        <h2>
            ¿Qué son los textiles testimoniales?
        </h2>  

        <p class="dos-col">
            Los textiles testimoniales son materialidades y artefactos de memoria que, a partir del bordado, la costura y el tejido, como soportes y medios narrativos, documentan o denuncian acontecimientos y experiencias, en un proceso de resignificación y acto testimonial. Esto hace que tengan una dimensión política y social para los colectivos que les han realizado, y que ayuden a configurar sentidos compartidos sobre los hechos que están narrando en estos formatos.
        </p>

    </section>

    <section class="carrusel top">
        <p class="intro">
            El desarrollo del archivo ha sido el resultado de distintos procesos de investigación y alianzas institucionales, esta línea de tiempo muestra algunos de esos vínculos.
        </p>  

        <div class="row top align-items-center btm slick-container">
            <div class="col col-12 col-lg-6 fecha slick-carrousel order-2-lg">
                <div class="carrusel-item">
                    <h4>Junio 2016 - julio 2019</h4>
                    <p>Repositorio digital para la documentación de textiles testimoniales del conflicto armado en Colombia Tesis de maestría en Ciencias de la Información con énfasis en memoria y sociedad. Escuela Interamericana de Bibliotecología EIB, Universidad de Antioquia, Medellín. Isabel Cristina González Arango. 
                    </p>
                </div>
                <div class="carrusel-item">
                    <h4>Julio 2017 – octubre 2019</h4>
                    <p>Atlas visual de la memoria: repositorio digital de memorias (segunda fase), en colaboración con el Museo Casa de la Memoria de Medellín y la contribución del Comité para el Desarrollo de la Investigación - CODI, de la Universidad de Antioquia, Medellín - Colombia. Luis Carlos Toro-Tamayo, Juan Camilo Vallejo Echavarría, Darío Alexander Betancur Marín e Isabel Cristina González Arango.  
                    </p>
                </div>
                <div class="carrusel-item">
                    <h4>Septiembre 2018 - septiembre 2020</h4>
                    <p>Remendar lo nuevo: practicando reconciliaciones a través del quehacer textil y la memoria digital en la transición al postconflicto de la Colombia rural. financiado por COLCIENCIAS y el Fondo Newton del Reino Unido en la convocatoria 791-2017. “La paz sostenible en Colombia”
                    </p>
                </div>
            </div>
            
            <div class="col col-12 col-lg-5 offset-lg-1 flex order-1-lg">
                <img class="mx-auto" src="/img/calendar.svg">
            </div>


        </div>
    </section>

    <section class="universidades">
        <div class="container">
            <div class="row desarrollo align-items-center justify-content-center btm">
                <h2 class="col col-12 col-lg-auto"> Desarrollado por </h2>
                <img class="col col-auto col-lg-auto" src="/img/logos/udea.svg">
                <img  class="col col-auto col-lg-auto" src="/img/logos/unal.svg">
                <h2 class="col col-12 col-lg-auto apoyo"> Con apoyo de </h2>
                <img  class="col col-auto col-lg-auto" src="/img/logos/andes.svg">
                <img  class="col col-auto col-lg-auto apoyo" src="/img/logos/minciencias.png">
            </div>
        </div>
    </section>

    </div>

<%- include('./partials/footer') -%> 