<%- include('./partials/header') -%> 
<div class="container pag-sobre">
    <section class="texto-sobre top">
        <h2 class="text-center">
            El archivo completo
        </h2>  
        <p>
            Para facilitar la búsqueda y consulta de este material hemos propuesto distintas rutas para acceder a la información de los fondos (colectivos) y sus piezas, respetando el principio de procedencia y orden original en la conformación de archivo. De este modo, puedes filtrar la información por: Año, Fondo, Temática, Técnica textil, Lugar de producción o Hechos asociados al conflicto armado en Colombia. 
        </p>
    </section>

    <section class="filtros top">
        <p class="italic text-center">
            Filtrar por:
        </p>  
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <!-- <div class="botones-filtros">
            
        <ul class="botones-filtros">
<<<<<<< HEAD
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Año</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">lorem ipsum</a>
                    <a class="dropdown-item" href="#">lorem ipsum</a>
                    <a class="dropdown-item" href="#">lorem ipsum</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nombre de quien crea</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">lorem ipsum</a>
                    <a class="dropdown-item" href="#">lorem ipsum</a>
                    <a class="dropdown-item" href="#">lorem ipsum</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Temática</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">lorem ipsum</a>
                    <a class="dropdown-item" href="#">lorem ipsum</a>
                    <a class="dropdown-item" href="#">lorem ipsum</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Técnica textil</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">lorem ipsum</a>
                    <a class="dropdown-item" href="#">lorem ipsum</a>
                    <a class="dropdown-item" href="#">lorem ipsum</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lugar</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">lorem ipsum</a>
                    <a class="dropdown-item" href="#">lorem ipsum</a>
                    <a class="dropdown-item" href="#">lorem ipsum</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hecho del conflicto</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#"> lorem ipsum</a>
                    <a class="dropdown-item" href="#">lorem ipsum</a>
                    <a class="dropdown-item" href="#">lorem ipsum</a>
                </div>
            </li>
        </ul> 
=======
            <li>Año</li>
            <li>Nombre de quien crea</li>
            <li>Temática</li>
            <li>Técnica textil</li>
            <li>Lugar</li>
            <li>Hecho del conflicto</li>
        </ul> -->
>>>>>>> parent of 19f3286... Estilizar menu dropdown
    </section>

    <section class="section-fondo resultados">
        <div class="row">
            <div class="col col-12 col-md-6 resultado-pieza" >
                <div class="container-img">
                    <a href="#">
                        <button class ="btn white">
                        Ver Pieza
                        </button>
                    </a>
                    <img src="/img/500x600.png">
                    <div class="blue"></div> 
                </div>
            </div>

            <div class="col col-12 col-md-6 resultado-pieza" >
                <div class="container-img">
                    <a href="#">
                        <button class ="btn white">
                        Ver Pieza
                        </button>
                    </a>
                    <img src="/img/500x600.png">
                    <div class="blue"></div> 
                </div>
            </div>

            <div class="col col-12 col-md-6 resultado-pieza" >
                <div class="container-img">
                    <a href="#">
                        <button class ="btn white">
                        Ver Pieza
                        </button>
                    </a>
                    <img src="/img/500x600.png">
                    <div class="blue"></div> 
                </div>
            </div>

            <div class="col col-12 col-md-6 resultado-pieza" >
                <div class="container-img">
                    <a href="#">
                        <button class ="btn white">
                        Ver Pieza
                        </button>
                    </a>
                    <img src="/img/500x600.png">
                    <div class="blue"></div> 
                </div>
            </div>
        </div>
    <section>
</div>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<%- include('./partials/footer') -%> 
