<%- include('./partials/header') -%> 
<div class="container pag-sobre">
    <section class="texto-sobre top">
        <h2 class="text-center">
            El archivo completo
        </h2>  
        <p>
            Para facilitar la búsqueda y consulta de este material hemos propuesto distintas rutas para acceder a la información de los fondos (colectivos) y sus piezas, respetando el principio de procedencia y orden original en la conformación de archivo. De este modo, puedes filtrar la información por: Año, Fondo, Temática, Técnica textil, Lugar de producción o Hechos asociados al conflicto armado en Colombia. 
        </p>
    </section>
    <section class="filtros">
        <p class="italic text-center">
            Filtrar por:
        </p>  

        <ul class="botones-filtros">
            <li>Año</li>
            <li>Nombre de quien crea</li>
            <li>Temática</li>
            <li>Técnica textil</li>
            <li>Lugar</li>
            <li>Hecho del conflicto</li>

        </ul>
        
    </section>
</div>
<%- include('./partials/footer') -%> 
