@charset "UTF-8";
/* ----- VARIABLES ----- */
/* ----- ESTILOS GENERALES ----- */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");
body {
  width: 100%;
  margin: 0;
  font-family: "Inter", sans-serif;
  z-index: -2;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body.disable-scroll {
    overflow: hidden; }
  @media only screen and (max-width: 576px) {
    body {
      font-size: 14px; } }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

.logo {
  font-size: 28px;
  font-family: "CircularStd", sans-serif;
  font-weight: 600;
  color: #FFF;
  transition: font-size 0.1s; }
  @media only screen and (max-width: 992px) {
    .logo {
      font-size: 20px; } }
  @media only screen and (max-width: 576px) {
    .logo {
      font-size: 18px; } }
  .logo:hover {
    color: #FFF; }

h2 {
  font-family: "CircularStd", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3; }
  @media only screen and (max-width: 768px) {
    h2 {
      font-size: 26px; } }
  @media only screen and (max-width: 576px) {
    h2 {
      font-size: 22px; } }

h3 {
  text-transform: uppercase;
  font-family: inter;
  font-size: 15px;
  color: #A9A9A9;
  letter-spacing: 2px; }

h4 {
  font-family: "CircularStd", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: #2727E5; }
  @media only screen and (max-width: 768px) {
    h4 {
      font-size: 18px; } }

.btn {
  font-family: "CircularStd", sans-serif;
  font-size: 18px;
  padding: 5px 20px;
  border-radius: 30px; }
  .btn.white {
    border: 2px solid #2727E5;
    color: #2727E5; }
  .btn.blue {
    background-color: #2727E5;
    color: #FFF; }
  @media only screen and (max-width: 576px) {
    .btn {
      font-size: 16px;
      padding: 4px 16px; } }

.top {
  margin-top: 10vh; }

.btm {
  margin-bottom: 10vh; }

@media only screen and (max-width: 992px) {
  .order-1-lg {
    order: 1; }
  .order-2-lg {
    order: 2; } }

@media only screen and (min-width: 993px) {
  .dos-col {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em;
    column-gap: 3em; } }

.hide {
  display: none; }

.show {
  display: flex; }

/* ---------------------------------------------------------------------
    ESTILOS HEADER 
---------------------------------------------------------------------*/
.header {
  background-color: #2727E5;
  height: 130px;
  transition: height 1s;
  position: relative;
  width: 100%;
  z-index: 1000; }
  @media only screen and (max-width: 992px) {
    .header {
      height: 80px; } }
  .header .container, .header .row {
    height: 100%; }
  .header .col {
    margin-bottom: 0; }
  .header .menu a {
    color: #FFF;
    font-family: "Inter", sans-serif;
    font-weight: light;
    text-transform: uppercase;
    float: right;
    padding: 0 10px; }
    .header .menu a:hover {
      color: #FEDB31; }
  .header .burguer {
    width: 40px;
    height: auto;
    padding: 0;
    margin: 20px; }
    @media only screen and (max-width: 576px) {
      .header .burguer {
        width: 30px; } }

section.dropdown {
  background-color: #2727E5;
  position: fixed;
  top: -400px;
  width: 100%;
  transition: top 1s;
  z-index: 999; }
  section.dropdown.down {
    top: 80px; }
  section.dropdown a {
    border-top: solid #FFF 1px;
    display: block;
    color: #FFF;
    font-family: "Inter", sans-serif;
    font-weight: light;
    text-transform: uppercase;
    padding: 20px 0;
    text-align: center; }
    section.dropdown a:hover {
      color: #FEDB31; }

/* ---------------------------------------------------------------------
 ESTILOS FOOTER 
---------------------------------------------------------------------*/
footer {
  background-color: #2727E5;
  padding-top: 35px;
  margin-top: 10vh;
  color: #FFF;
  position: relative; }
  footer .logo {
    margin-bottom: 30px; }
  @media only screen and (min-width: 577px) {
    footer {
      padding-top: 45px; } }
  @media only screen and (min-width: 993px) {
    footer .left-footer p {
      max-width: 60%; } }
  footer a {
    color: #FFF;
    font-family: "Inter", sans-serif;
    font-weight: light;
    text-transform: none;
    line-height: 1.3; }
    footer a:hover {
      color: #FEDB31; }
  footer .right-footer a {
    display: block;
    padding: 0 0 5px 0; }
  footer .bottom-footer {
    background-color: #161616;
    padding: 20px 0;
    margin-top: 15px; }
    footer .bottom-footer p {
      margin-bottom: 0;
      color: #C2C2C2; }
    footer .bottom-footer a {
      color: #C2C2C2;
      text-decoration: underline; }
      footer .bottom-footer a:hover {
        color: #FFF; }
    footer .bottom-footer .icons {
      display: flex;
      align-items: center; }
      @media only screen and (max-width: 576px) {
        footer .bottom-footer .icons {
          padding-left: 0; } }
      footer .bottom-footer .icons a img {
        width: 24px;
        height: 24px; }
      footer .bottom-footer .icons a {
        text-decoration: none;
        padding-right: 15px; }
  footer .arrow {
    position: absolute;
    width: 36px;
    right: 5%; }

/* ---------------------------------------------------------------------
        ESTILOS HOME 
---------------------------------------------------------------------*/
.home-section .col {
  margin-bottom: 5vh; }

.home-section .text .btn {
  margin-top: 25px; }
  .home-section .text .btn img {
    width: 33px;
    height: auto;
    margin-left: 10px; }
  .home-section .text .btn:hover img {
    margin-left: 12px;
    margin-right: -2px; }

@media only screen and (max-width: 992px) {
  .home-section .text .btn {
    margin-top: 15px; } }

.home-section img {
  width: 100%;
  height: auto; }

.home-section .chevron {
  width: 24px;
  height: auto;
  margin: 0 auto;
  animation: bounce 2s infinite; }
  @media only screen and (max-width: 992px) {
    .home-section .chevron {
      margin-top: 5vh; } }

@media only screen and (max-width: 992px) {
  .home-intro {
    text-align: center;
    margin-left: auto;
    margin-left: right; } }

.preview-fondos .fondo .azul {
  display: none; }

.preview-fondos .fondo .img:hover .linea {
  display: none; }

.preview-fondos .fondo .img:hover .azul {
  display: block; }

@media only screen and (min-width: 993px) {
  .preview-fondos :nth-child(odd) .text {
    margin-left: 8%; }
  .preview-fondos :nth-child(even) .text {
    margin-right: 8%; }
  .preview-fondos :nth-child(even) .img {
    order: 2; }
  .preview-fondos :nth-child(even) .text {
    order: 1; } }

.hero {
  background-image: url("/img/manos.jpg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat; }
  .hero p {
    padding: 150px 0;
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 30px; }
  @media only screen and (max-width: 768px) {
    .hero {
      background-size: 150vw; }
      .hero p {
        font-size: 24px;
        padding: 80px 0; } }

.universidades .col {
  margin-bottom: 50px; }

@media only screen and (max-width: 992px) {
  .universidades h2 {
    text-align: center; } }

.universidades .desarrollo h2 {
  font-size: 24px; }

.universidades .desarrollo img {
  height: 70px; }

.universidades .apoyo h2 {
  font-size: 20px; }

.universidades .apoyo img {
  height: 60px; }

/* --------------------------------------------------------------------- 
        PÁGINA FONDO 
 ---------------------------------------------------------------------*/
.section-fondo p {
  margin-top: 2em;
  line-height: 2; }

.section-fondo img {
  max-width: 100%;
  height: auto; }

.section-fondo .btn {
  margin-top: 25px; }
  @media only screen and (max-width: 992px) {
    .section-fondo .btn {
      margin-top: 15px; } }

.img-fondo img {
  width: 100%;
  height: 700px;
  object-fit: cover; }
  @media only screen and (max-width: 992px) {
    .img-fondo img {
      height: 500px;
      max-height: 50vh; } }

.caracterizacion-fondo img {
  display: block;
  margin-top: 2em;
  margin-bottom: 2em; }

@media only screen and (max-width: 992px) {
  .contexto-fondo .texto {
    order: 2; }
  .contexto-fondo .img {
    order: 1;
    margin-top: 2em;
    text-align: center; } }

.piezas-fondo .italic {
  font-style: italic;
  color: #A9A9A9;
  margin-top: 1em; }

.piezas-fondo .container-img {
  position: relative;
  width: 100%;
  height: 250px;
  margin-top: 2em;
  overflow: visible; }
  @media only screen and (max-width: 768px) {
    .piezas-fondo .container-img {
      height: 350px; } }
  .piezas-fondo .container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute; }
  .piezas-fondo .container-img .btn {
    position: absolute;
    margin-top: 0;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; }
  .piezas-fondo .container-img .blue {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #2727E5;
    mix-blend-mode: color;
    opacity: 0; }
  .piezas-fondo .container-img:hover .btn {
    opacity: 1; }
  .piezas-fondo .container-img:hover img {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%); }
  .piezas-fondo .container-img:hover .blue {
    opacity: 50%; }

.lista-docs {
  margin-top: 2em;
  list-style-type: none;
  padding: 0; }
  .lista-docs li:before {
    content: "·"; }
  .lista-docs li {
    padding: 0; }
  .lista-docs a {
    color: #2727E5; }
    .lista-docs a:hover {
      text-decoration: underline; }

/* --------------------------------------------------------------------- 
        ANIMACIONES 
---------------------------------------------------------------------*/
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-20px); }
  60% {
    transform: translateY(-10px); } }

/* --------------------------------------------------------------------- 
        PÁGINA SOBRE EL ARCHIVO 
 ---------------------------------------------------------------------*/
.img-sobre {
  display: flex;
  align-items: center;
  justify-content: center; }
  .img-sobre img {
    width: 100%;
    max-width: 800px;
    object-fit: contain; }

.pag-sobre p {
  margin-top: 2em;
  line-height: 2; }

.pag-sobre .btn {
  margin-top: 25px; }
  @media only screen and (max-width: 992px) {
    .pag-sobre .btn {
      margin-top: 15px; } }

@media only screen and (min-width: 767px) {
  .carrusel .carrusel-item {
    padding-left: 30px; } }

.carrusel .intro {
  text-align: center;
  font-family: "CircularStd", sans-serif;
  font-size: 24px;
  line-height: 1.5; }
  @media only screen and (max-width: 768px) {
    .carrusel .intro {
      font-size: 16px; } }

.carrusel .fecha p {
  margin-top: 0; }

.carrusel img {
  max-height: 300px; }
  @media only screen and (max-width: 992px) {
    .carrusel img {
      margin-bottom: 4em; } }
  @media only screen and (max-width: 768px) {
    .carrusel img {
      max-height: 200px;
      margin-bottom: 2em; } }

.carrusel .flex {
  display: flex;
  align-items: center; }

.largo {
  padding-right: 20px;
  padding-left: 20px; }

/* SLICK */
.slick-container {
  position: relative; }

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  color: #2727E5;
  content: none;
  border: none;
  visibility: hidden; }
  @media only screen and (max-width: 768px) {
    .slick-prev,
    .slick-next {
      top: 20%; } }
  .slick-prev:after,
  .slick-next:after {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-image: url("/img/icons/chevron_down.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    content: " "; }

.slick-prev {
  left: -30px; }
  @media only screen and (max-width: 768px) {
    .slick-prev {
      left: 10; } }
  .slick-prev:after {
    transform: rotate(90deg); }

.slick-next {
  right: -30px; }
  @media only screen and (max-width: 768px) {
    .slick-next {
      right: 10; } }
  .slick-next:after {
    transform: rotate(270deg); }

/* Dots */
.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -45px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center; }

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 10px;
  height: 10px;
  padding: 5px;
  border-radius: 100%;
  cursor: pointer;
  border: solid 1px #FEDB31;
  background-color: #FEDB31;
  outline: none; }

.slick-dots li.slick-active button {
  background-color: #2727E5;
  border-color: #2727E5; }

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none; }

/* ------------ FUENTES ------------- */
@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd-Book.eot");
  src: url("../fonts/CircularStd-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-Book.woff") format("woff"), url("../fonts/CircularStd-Book.ttf") format("truetype"), url("../fonts/CircularStd-Book.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "CircularStd";
  src: url("../fonts/CircularStd-Bold.eot");
  src: url("../fonts/CircularStd-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-Bold.woff") format("woff"), url("../fonts/CircularStd-Bold.ttf") format("truetype"), url("../fonts/CircularStd-Bold.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 600;
  font-style: normal; }
